.App {
  text-align: center;
  background-color: #36393e;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsla(0,0%,100%,.7);
  flex: 1;
}

.AppHeader {
  background-color: #2e3136;
  padding: 20px;
  color: white;
  display: flex;
  border-bottom: 1px solid #303337;
  flex: 0 0 70px;
}

.AppHeader .Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.AppMain {
  flex: 1;
}

.AppFooter {
  flex: 0 0 25px;
  padding: 5px;
}

