.App {
  text-align: center;
  background-color: #36393e;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsla(0,0%,100%,.7);
  flex: 1;
}

.Colors {
    background-color: #36393e;
    background-color: #2e3136;
    background-color: #1e2124;
    border-bottom: 1px solid #303337;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e3136;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  border-bottom: 1px solid #303337;
}

.App-intro {
  font-size: large;
}

.JViz {
  text-align: left;
  display: flex;
  width: 100%;
  flex: 1;
}

.JViz-side {
  display: flex;
  flex-flow: column;
  height: inherit;
  width: 250px;
  background-color: #2e3136;

}

.JViz-main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.Widget {
    border: 1px solid #303337;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.WidgetMain {
    padding: 0px;
    vertical-align: middle;
    background-color: #2e3136;
    color: hsla(0,0%,100%,.7);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.WidgetHeader {
    height: 40px;
    width: 100%;
    background-color: #32363c;
    border-bottom: 1px solid #36393e;
}

.HeaderName {
    height: 100%;
    margin: 0;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    vertical-align: middle;
    float: left;
}

.HeaderClose {
    width: 20px;
    background-color: #2e3136;
    line-height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: hsla(0,0%,100%,.7);
    float: right;
}

.SidebarItem {
    border-bottom: 1px solid hsla(0,0%,100%,.06);
    border-right: 1px solid hsla(0,0%,100%,.06);
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.SidebarItemMain {
    padding: 0px;
    height: 350px;
    vertical-align: middle;
    background-color: rgb(78, 84, 93);
    color: hsla(0,0%,100%,.7);
}

.SidebarItemHeader {
    height: 40px;
    width: 100%;
    background-color: #32363c;
    border-bottom: 1px solid #282b30;
}

.SidebarItemHeaderName {
    height: 100%;
    margin: 0;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    vertical-align: middle;
    float: left;
}

.NodeList {
    flex: 1;
}

.Subscriber {
    flex: 1;
}

.Publisher {
    padding: 10px;
    flex: 1;
}

.Topic {
    height: 60px;
    background-color: rgb(78, 84, 93);
    border: 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.06);
    border-style: solid;
    color: hsla(0,0%,100%,.6);
    border-left: 3px solid rgba(2, 150, 245, 0.6);
    padding: 5px;
}

.Active {
    border-left: rgb(2, 187, 245);
    border-left-style: solid;
    border-left-width: 3px;
}

.TopicList {
}

.Message {
    margin: 0px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid hsla(0,0%,100%,.06);
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
