.App {
  text-align: center;
}

.JViz {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
}

.Subscriber {

}

.Widget {
    border: 1px;
    border-style: solid;
    padding: 0px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.WidgetMain {
    padding: 0px;
    height: 350px;
    vertical-align: middle;
}

.WidgetHeader {
    height: 50px;
    width: 100%;
    background-color: #36393e;
    border-bottom: 1px solid #282b30;
}

.HeaderName {
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 10px;
    color: hsla(0,0%,100%,.6);
    vertical-align: middle;
    float: left;
}

.HeaderClose {
    width: 10%;
    background-color: #2e3136;
    line-height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: hsla(0,0%,100%,.6);
    float: right;
}

.NodeList {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e3136;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Topic {
    height: 60px;
    background-color: rgb(78, 84, 93);
    border: 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.06);
    border-style: solid;
    color: hsla(0,0%,100%,.6);
    border-left: 3px solid;
    padding: 5px;
}

.Active {
    border-left: rgb(2, 150, 245);
    border-left-style: solid;
    border-left-width: 3px;
}

.TopicList {
    background-color: rgb(78, 84, 93);
}

.Message {
    margin: 0px;
    max-height: 60px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
