.App {
  text-align: center;
  background-color: #36393e;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsla(0,0%,100%,.7);
  flex: 1;
}

/* Theme */
.Colors {
    background-color: #36393e;
    background-color: #2e3136;
    background-color: #1e2124;
    border-bottom: 1px solid #303337;
}


.ColorOne {
  background-color: rgba(122, 192, 210, 0.86);
}

.ColorTwo {
  background-color: rgba(128, 177, 18, 0.67);
}

.ColorThree {
  background-color: rgba(177, 147, 18, 0.67);
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e3136;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  border-bottom: 1px solid #303337;
}

.App-intro {
  font-size: large;
}

.JViz {
  text-align: left;
  display: flex;
  width: 100%;
  flex: 1;
}

.JViz-side {
  display: flex;
  flex-flow: column;
  height: inherit;
  width: 250px;
  background-color: #2e3136;

}

.JViz-main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.Widget {
    border: 1px solid #303337;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.WidgetMain {
    padding: 0px;
    vertical-align: middle;
    background-color: #2e3136;
    color: hsla(0,0%,100%,.7);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.WidgetHeader {
    height: 40px;
    display: flex;
    background-color: #32363c;
    border-bottom: 1px solid #36393e;
    flex: 0 0 40px;
}

.HeaderName {
    margin: 0;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    vertical-align: middle;
    user-select: none;
    flex: 1;
}

.HeaderClose {
    width: 20px;
    background-color: #2e3136;
    line-height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: hsla(0,0%,100%,.7);
    float: right;
}

.Footer {
  display: flex;
  flex-direction: row;
  flex: 0 0 25px;
  padding: 2px;

}

.SidebarItem {
    border-top: 1px solid hsla(0,0%,100%,.06);
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.SidebarItemMain {
    padding: 0px;
    max-height: 350px;
    vertical-align: middle;
    color: hsla(0,0%,100%,.7);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SidebarItemHeaderName {
    height: 100%;
    margin: 0;
    padding: 10px;
    color: hsla(0,0%,100%,.7);
    vertical-align: middle;
    float: left;
}

.ItemList {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.Subscriber {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Publisher {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.NodeGraph {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Node {
    height: 20px;
    border: 0px;
    border-style: solid;
    color: hsla(0,0%,100%,.6);
    padding: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.Topic {
    height: 60px;
    border: 0px;
    border-style: solid;
    color: hsla(0,0%,100%,.6);
    padding: 5px;
    display: flex;
    align-items: center;
}

.TopicOptions {
  display: flex;
  flex-direction: column;
}

.TopicSelected {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(2, 150, 245, 0.2);
    margin-right: 10px;
}

.Active {
    background-color: rgba(66, 199, 240, 0.8);
}

.TopicList {
}

.SmallButton {
    cursor: pointer;
    padding: 4px;
    margin: 1px;
    user-select: none;
}

.Message {
    margin: 0px;
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid hsla(0,0%,100%,.06);
    margin: 5px 0px;
}

.MessageLine {
    display: flex;
    flex-direction: row;
    padding: 1px;
    flex: 1;
}

.MessageLabel {
    margin-right: 5px;
    flex: 0 0 auto;
}

.MessageTypeInput {
    background-color: #36393e;
    border: 0px solid hsla(0,0%,100%,.06);
    color: hsla(0,0%,100%,.7);
    padding-left: 5px;
    flex: 1;
    min-width: 0px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
